html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
}

.myContainer {
  height: 100%;
}

#markerLayer img {
  width: 25% !important;
  height: 25% !important;
  border-radius: 50% !important;
  position: relative;
  top: 10em !important;
  left: 5em !important;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* InfoBoxes */
/*-----------------------------------------------------------------------------------------------------------------------------------*/

.infobox {
  background: #FFFFFF;
  color: #000;
  font-family: Courier New;
  line-height: 15px;
  position: absolute;
}

.infobox .close {
  cursor: pointer;
  font-size: 17px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  width: 25px;
}

.infobox .content {
  margin: 15px;
}

.close {
  float: right;
  font-size: 21px;
  line-height: 1;
  color: #000;
  opacity: 1;
  font-weight: 100;
}

.infobox .content h5 {
  margin-top: 0;
  position: relative;
  top: -10px;
  left: -5px;
}

.infobox .content .innerContent {
  position: relative;
  top: -30px;
}