<!DOCTYPE html>
<html ng-app="buzz">
<head lang="en">
  <meta charset="UTF-8">
  <title>Buzz</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/navigation.css">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/home.css">
  <!-- Google Maps Marker ClustererJS -->
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <!-- Google Maps API and Places Library -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3YdIk9nxLbTsRtNbVjmmX2a2ydksCBzI&libraries=places"></script>
  <!-- MapLabel JS -->
  <script src="/scripts/vendors/maplabel-compiled.js"></script>
  <!-- InfoBox JS -->
  <script src="/scripts/vendors/infoBox.js"></script>
</head>
<body>
  <nav class="topNav navbar navbar-default">
    <div class="container-fluid navbarWrapper">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home" ng-click="removeActiveLink()">Buzz</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="topNavListItem"><a class="topNavAnchor" href="#" ng-click="activeLink($event)">About</a></li>
          <li class="topNavListItem"><a class="topNavAnchor" ui-sref="register" ng-click="activeLink($event)">Sign Up</a></li>
          <li class="topNavListItem"><a class="topNavAnchor" href="#" ng-click="activeLink($event)">Log In</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container myContainer">
    <ui-view></ui-view>
  </div>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyD8MrpfsD9UreoUiT3MKTpWFTJHW4Bob9w",
      authDomain: "buzz-34986.firebaseapp.com",
      databaseURL: "https://buzz-34986.firebaseio.com",
      storageBucket: "buzz-34986.appspot.com",
      messagingSenderId: "923756891629"
    };
    firebase.initializeApp(config);
  </script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <!-- Angular UI Router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <!--  ngResource  -->
  <script src="https://code.angularjs.org/1.3.9/angular-resource.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- SunCalc JS -->
  <script src="/scripts/vendors/suncalc.js"></script>
  <!-- Main JS -->
  <script src="/scripts/app.js"></script>
  <!-- Controllers -->
  <script src="/scripts/controllers/HomeCtrl.js"></script>
  <script src="/scripts/controllers/CallbackCtrl.js"></script>
  <script src="/scripts/controllers/AuthCtrl.js"></script>
  <!-- Services -->
  <script src="/scripts/services/LocalStorage.js"></script>
  <script src="/scripts/services/CurrentLocation.js"></script>
  <script src="/scripts/services/MapStyles.js"></script>
  <script src="/scripts/services/GooglePlaces.js"></script>
  <script src="/scripts/services/TextFilters.js"></script>
  <script src="/scripts/services/Firebase.js"></script>
</body>
</html>