<h1>home.html</h1>

<!-- <a href="https://api.instagram.com/oauth/authorize/?client_id=dcf89f4dc3614acd8b8b7818d4786b18&amp;redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&amp;response_type=code&amp;scope=basic+public_content+follower_list+comments+relationships+likes">Login with Instagram</a> -->

<a href="https://api.instagram.com/oauth/authorize/?client_id=dcf89f4dc3614acd8b8b7818d4786b18&redirect_uri=http://localhost:3000/callback&response_type=token&amp;scope=basic+public_content+follower_list+comments+relationships+likes">Login to Instagram</a>
<br>
<br>
<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

<a href="https://api.instagram.com/v1/users/self/follows?access_token={{accessToken}}">Current User Follows</a>
<br>
<a href="https://api.instagram.com/v1/users/self/media/recent/?access_token={{accessToken}}&count=30">Most Recent Media By Current User</a>