<h1>Sign Up</h1>

<!-- Validations -->
<div ng-show="firebaseError">
  <span>{{firebaseError}}</span>
</div>

<p ng-show="regForm.$submitted && regForm.uEmail.$error.required">Please enter your email</p>
<p ng-show="regForm.$submitted && regForm.uEmail.$error.email">Please enter a valid email</p>
<p ng-show="regForm.$submitted && regForm.pw1.$error.required">Please enter a password</p>
<p ng-show="regForm.$error">
  <span ng-show="regForm.pw2.$error.pwmatch">Passwords don't match</span>
</p>

<form ng-submit="register()" name="regForm" novalidate>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="email" name="uEmail" required="">
  </div>
  <div class="form-group">
    <input type="password" id="pw1" class="form-control" placeholder="Password" ng-model="password" name="pw1" required="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password Confirmation" ng-model="pw2" id="pw2" name="pw2"  pw-check="pw1" required="">
  </div>

  <button class="btn btn-default">Sign Up</button>
</form>